<article class="post post-content">
    <p>{{content}}</p>
    <div class="info">
        submitted {{created}} days ago by {{author}} {{#if createdByUser}}| <a href="#" class="deleteLink">delete</a>{{/if}}
    </div>
</article>