<section id="viewMyPosts">
    <div class="post post-content">
        <h1>Your Posts</h1>
    </div>

    <div class="posts">
        {{#if hasNoPosts}}
            <h1>You haven't any post.</h1>
        {{/if}}
        {{> header}}
        {{#each myPosts}}
            {{> myPost}}
        {{/each}}
        {{> footer}}
    </div>
</section>